body{
    background-color: white;
    font-size: 20px;
    color: black;
    margin: auto;
    box-sizing: border-box;
}
.style{
    font-family: sans-serif;
    font-size: 20px;
    margin: 2px;
    background-color: cadetblue;
}

.styling{
    font-style: italic;
    font-size: 22px;
    background-color: chartreuse;
}
/* 
#header{
    box-sizing: border-box;
    float: right;
    border: solid black;
    width: 0mm;
    height: 0mm;   
}
 */